@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.side-form {
  height: calc(100vh - $nav-height-mob);
  width: 100vw;
  overflow-y: auto;
  background-color: $secondary-background;
  box-shadow: $box-shadow;
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  z-index: 10;

  @include tablet {
    width: calc($sidebar-width + $spacing-unit-lg); //fix this too
    height: calc(100vh - $nav-height-tab);
  }

  &__close {
    @include small-icon;
    align-self: flex-end;
  }
}
