@use "../../styles/_mixins.scss" as *;
@use "../../styles/_variables.scss" as *;

.summary {
  &__rating {
    color: $primary;

    @include flex-center;
    gap: 0.5rem;
    vertical-align: middle;
    vertical-align: center;

    @include tablet {
      font-size: 12px;
    }
  }

  &__description {
    max-height: 30vh;
    overflow: auto;
    text-align: left;
    @include tablet {
      @include max-lines(12);
    }
  }

  &__title {
    font-size: 18px;
    @include tablet {
      @include max-lines(3);
      font-size: 12px;
    }
  }

  &__description,
  &__genres,
  &__vibe {
    @include tablet {
      font-size: 10px;
    }
  }

  &__runtime {
    @include tablet {
      font-size: 8px;
    }
  }

  &__icon {
    @include small-icon;
  }

  &__text {
    height: 100%;
    @include flex-center($justify-content: space-around);
    flex-direction: column;
    text-align: center;
  }
}
