@use "../../styles/typefaces" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.picker-page {
  &__movies {
    position: relative;
    left: $spacing-unit-med;
  }

  &__form-container {
    &--hidden {
      display: none;
    }
  }
}
