@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.jar {
  display: flex;
  flex-direction: column;

  &__top-space {
    width: 100%;
    border: 1px red dashed;
    // height: 4rem;
    display: flex;
    align-items: flex-end;
    background-color: $primary-background;
    // position: fixed;
    z-index: 1;
    @include bottom-margin;
    // background-color: white;
  }

  &__title {
    z-index: 1;
  }
}
