@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.add {
  &__search-results {
    @include flex-center($justify-content: flex-start);
    gap: 1rem;
    flex-wrap: wrap;
    @include vertical-padding;
  }

  &--selected {
    position: relative;
    left: $spacing-unit-med;
  }
}
