@use "../../styles/typefaces" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.add {
    @include flex-center($align-content: flex-start);
    position: relative;

    &__search-results {
        @include flex-center;
        margin-top: 6rem;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__form {
        min-height: calc(100vh - $nav-height-tab);
        max-height: calc(100vh - $nav-height-tab); //come fix
        width: 300px; //fix this too
        background-color: $secondary-background;
        border-right: $divider;
        position: fixed;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        padding: .5rem;
    }

    &__close {
        @include small-icon;
        align-self: flex-end;
    }
}
