@use "../../styles/_mixins.scss" as *;
@use "../../styles/_variables.scss" as *;

.del-modal {
  &__close {
    fill: $dark-text;
    position: absolute;
    right: $icon-spacing-unit;
    top: $icon-spacing-unit;
    @include small-icon;
  }

  &__text {
    @include top-margin;
    @include bottom-margin;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
