@use "./variables" as *;
@use "./typefaces" as *;

/* Responsive Design */

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

/* Text sizing */

@mixin page-header {
  font-size: 1.777rem;
  font-weight: 700;
  line-height: 2.25rem;

  @include tablet {
    font-size: 3.157rem;
  }
}

@mixin subheader {
  font-size: 1.333rem;
  font-weight: 700;

  @include tablet {
    font-size: 2.369rem;
  }
}

@mixin small-heading {
  font-size: 1rem;
  font-weight: 700;

  @include tablet {
    font-size: 1.777rem;
  }
}

@mixin tiny-heading {
  font-size: 1.33rem;
  font-weight: 700;

  @include tablet {
    font-size: 1rem;
  }
}

@mixin paragraph {
  font-size: 1rem;
}

@mixin sm-paragraph {
  font-size: 0.75rem;
}

@mixin xs-paragraph {
  font-size: 0.563rem;
}

/* Spacing */

@mixin sm-left-padding {
  padding-left: $spacing-unit-sm;
}

@mixin sm-right-padding {
  padding-right: $spacing-unit-sm;
}

@mixin left-padding {
  @include sm-left-padding;

  @include tablet {
    padding-left: $spacing-unit-med;
  }

  @include desktop {
    padding-left: $spacing-unit-xl;
  }
}

@mixin right-padding {
  @include sm-right-padding;

  @include tablet {
    padding-right: $spacing-unit-med;
  }

  @include desktop {
    padding-right: $spacing-unit-xl;
  }
}

@mixin side-padding {
  @include left-padding;
  @include right-padding;
}

@mixin sm-side-padding {
  @include sm-left-padding;
  @include sm-right-padding;
}

@mixin bottom-padding {
  padding-bottom: $spacing-unit-med;

  @include tablet {
    padding-bottom: $spacing-unit-lg;
  }
}

@mixin top-padding {
  padding-top: $spacing-unit-lg;

  @include tablet {
    padding-top: $spacing-unit-xl;
  }
}

@mixin sm-bottom-padding {
  padding-bottom: $spacing-unit-sm;

  @include tablet {
    padding-bottom: $spacing-unit-lg;
  }
}

@mixin sm-top-padding {
  padding-top: $spacing-unit-sm;

  @include tablet {
    padding-top: $spacing-unit-lg;
  }
}

@mixin vertical-padding {
  @include top-padding;
  @include bottom-padding;
}

@mixin sm-vertical-padding {
  @include sm-top-padding;
  @include sm-bottom-padding;
}

@mixin top-margin {
  margin-top: $spacing-unit-lg;

  @include tablet {
    margin-top: $spacing-unit-xl;
  }
}

@mixin bottom-margin {
  margin-bottom: $spacing-unit-sm;

  @include tablet {
    margin-bottom: $spacing-unit-med;
  }
}

@mixin vertical-margin {
  @include top-margin;
  @include bottom-margin;
}

@mixin left-margin {
  margin-left: $spacing-unit-sm;

  @include tablet {
    margin-left: $spacing-unit-med;
  }

  @include desktop {
    margin-left: $spacing-unit-lg;
  }
}

// flex
@mixin flex-center($justify-content: center, $align-content: center) {
  display: flex;
  align-items: $align-content;
  justify-content: $justify-content;
}

@mixin flex-gap {
  gap: $spacing-unit-sm;

  @include tablet {
    gap: $spacing-unit-med;
  }
}

//form field styles
@mixin form-field {
  outline: 1px solid $primary;
  border: none;
  padding: 0.5rem;
  padding-left: 2.5rem;
  border-radius: $border-radius;
  background-color: $light-background;
  color: $dark-text;
  width: 100%;
  max-width: $max-form-field-width;
  margin: auto;

  &:focus {
    outline: 2px solid $secondary;
  }
}

@mixin dark {
  background-color: $secondary-background;
  color: $light-text;
}

@mixin light {
  background-color: $light-background;
  color: $light-text;
}

@mixin tablet-bigger-only {
  display: none;

  @include tablet {
    display: flex;
  }
}

@mixin mobile-only {
  @include tablet {
    display: none;
  }
}

@mixin small-icon {
  width: $big-icon;
  height: $big-icon;

  &:hover {
    cursor: pointer;
    opacity: 70%;
  }

  @include tablet {
    width: $icon-size;
    height: $icon-size;
  }
}

@mixin form-label {
  display: block;
  color: $primary;
  font-weight: bold;
  @include paragraph;
  text-transform: uppercase;
  margin-bottom: $spacing-unit-sm;
  display: flex;
  flex-direction: column;
  gap: $spacing-unit-xs;

  &--error {
    color: $error;
  }
}

@mixin max-lines($max-lines: 3) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $max-lines;
  white-space: pre-wrap;
}
