/* Colors */

$primary-background: #121212; //black
$secondary-background: #1f1f1f; // dark-grey
$light-background: #e8e8e8; // light-grey

$light-text: #ededed; //off-white
$dark-text: #121212; // almost-black

$primary: #008080; //teal
$secondary: #006666; //dark-teal

$accent: #ffd700; //gold
$error: #b22222; //soft-red

/* Spacing Values */

$spacing-unit-sm: 1rem;
$spacing-unit-med: 1.5rem;
$spacing-unit-lg: 2.25rem;
$spacing-unit-xl: 4.5rem;

/* Misc */

$border-radius: 0.25rem;
$transition: 0.3s;
$divider: 1px $primary solid;
$nav-height-tab: 80px;
$icon-size: 30px;
