/* Colors */

$primary-background: #121212; //black
$secondary-background: #1f1f1f; // dark-grey
$light-background: #e8e8e8; // light-grey

$light-text: #ededed; //off-white
$dark-text: #121212; // almost-black

$primary: #00a8a8; //teal
$secondary: #006666; //dark-teal

$accent: #ffd700; //gold
$error: #e74c3c; //soft-red

/* Spacing Values */

$spacing-unit-sm: 1rem;
$spacing-unit-med: 1.5rem;
$spacing-unit-lg: 2.25rem;
$spacing-unit-xl: 4.5rem;

/* Misc */

$border-radius: 0.25rem;
$transition: 0.3s;
$divider: 1px $primary solid;
$nav-height-tab: 80px;
$nav-height-mob: 144px;
$icon-size: 30px;
$accent-border: 5px solid $accent;
$sidebar-width: 25vw;
$box-shadow: 0px 4px 10px rgba(0, 168, 168, 0.5);
$max-form-field-width: 400px;
