@use "../../styles/typefaces" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.add-form {
  padding: 1rem;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  &__highlight {
    color: $accent;
  }

  &__label {
    @include form-label;
  }

  &__checkbox {
    margin-right: 0.5rem;
  }

  &__jar-options {
    max-height: 6rem;
    overflow-y: auto;
  }
}
