@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.select {
  position: relative;
  background-color: $light-background;
  color: $dark-text;
  border-radius: $border-radius;
  text-transform: none;
  font-weight: normal;
  user-select: none; /* Standard syntax */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  &__selected {
    padding: 3px 10px;
    border: 1px solid black;
    border-radius: $border-radius;
    @include flex-center($justify-content: space-between);
  }

  &__options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: $border-radius;
    background-color: $light-background;
    border-top: none;
    z-index: 3;
    overflow: hidden;
    border: 1px solid $dark-text;
  }

  &__option {
    padding: 3px 10px;

    &--selected {
      background-color: $primary;
      color: $light-text;
    }

    &:not(.dropdown__option--selected):hover {
      background-color: $primary;
      color: $light-text;
    }
  }
}
