// @use "../../styles/typefaces" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.sidebar {
  @include dark;
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100vw; /* or your desired width */
  height: calc(100vh - $nav-height-mob - 1px);
  overflow-y: auto;
  // @include side-padding;
  @include top-padding;
  bottom: 0;
  border-right: $divider;
  //change shadow?
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* optional: to give some depth */

  @include tablet {
    width: 25vw;
    height: calc(100vh - $nav-height-tab);
  }
  &--closed {
    display: none;
  }

  &__close-container {
    align-self: flex-end;
  }

  &__close {
    @include small-icon;

    &:hover {
      cursor: pointer;
      fill: $accent;
    }
  }

  &__jars {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  &__jar-container {
    border-bottom: $divider;
    padding-right: 0.5rem; //change
    @include flex-center($justify-content: space-between);
    gap: 0.5rem;
  }

  &__jar-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2.5rem;
    width: 100%;

    &.active {
      color: $accent;
      border-left: $accent-border;
      padding-left: calc(2.5rem - 5px);
    }

    &:hover {
      cursor: pointer;
      color: $accent;
    }
  }

  &__jar-del {
    @include small-icon;
    fill: $primary;

    &:hover {
      fill: $error;
    }
  }

  // &__list {
  //   display: flex;
  //   flex-direction: column;
  //   // @include side-padding;
  // }

  &__social {
    // @include side-padding;
    // margin-bottom: 1rem;
  }

  &__title {
    border-bottom: $divider;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    @include side-padding;
  }

  &__link {
    &.active {
      color: $accent;

      .sidebar__title {
        border-left: $accent-border;
      }
      border-right: $accent-border;
    }
  }

  &__add-new-input {
    @include form-field;
    &--hidden {
      display: none;
    }
  }

  &__add-new-text {
    &--hidden {
      display: none;
    }
  }
}

/* Optional: Style scrollbar for Webkit browsers (Chrome, Safari) */
.sidebar::-webkit-scrollbar {
  width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: $primary;
  border-radius: $border-radius;
}

.sidebar::-webkit-scrollbar-track {
  background-color: $light-background;
}
