@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.top {
  @include flex-center($justify-content: space-around);
  @include vertical-margin;
  @include sm-vertical-padding;
  @include sm-side-padding;
  flex-direction: column;
  // gap: $spacing-unit-med;
  width: 100%;
  background-color: $secondary-background;
  border-radius: $border-radius;

  @include tablet {
    flex-direction: row;
  }

  &__img {
    width: 15rem;
    height: auto;
    border-radius: $border-radius;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-unit-sm;
    max-width: 30rem;
  }

  &__small {
    @include sm-paragraph;
  }
}
