@use "./styles/typefaces" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.page {
  display: flex;

  &__content {
    //ToDo; alter mobile;
    margin-left: 30%;
    width: 100%;
    min-height: calc(100vh - $nav-height-mob);
    @include side-padding;
    display: none;
    margin-top: calc($nav-height-mob + $spacing-unit-sm);

    @include tablet {
      margin-top: calc($nav-height-tab + $spacing-unit-sm);
      display: flex;
      min-height: calc(100vh - $nav-height-tab);
    }

    &--closed-sidebar {
      display: flex;
      margin-left: 0;
    }
  }

  &__sidebar-menu {
    height: $icon-size;
    width: $icon-size;
    margin-top: calc($nav-height-mob + $spacing-unit-sm);
    @include left-margin;

    &:hover {
      cursor: pointer;
    }

    @include tablet {
      margin-top: calc($nav-height-tab + $spacing-unit-sm);
    }
  }

  &--sidebar-open {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}
