@use "./styles/typefaces" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.page {
  display: flex;
  /* remove default scroll SPA */
  max-height: 100vh;
  overflow: hidden;

  &__content {
    @include side-padding;
    @include vertical-padding;
    height: calc(100vh - $nav-height-mob);
    overflow-y: auto;
    display: none;
    width: calc(100vw - $sidebar-width);

    @include tablet {
      display: flex;
      min-height: calc(100vh - $nav-height-tab);
    }

    &--closed-sidebar {
      display: flex;
      margin-left: 0;
      width: 100vw;
    }
  }

  &__sidebar-menu {
    height: $icon-size;
    width: $icon-size;
    @include top-margin;
    @include left-margin;

    &--hidden {
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }
}
