@use "./styles/typefaces" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.page {
  display: flex;

  &__content {
    //ToDo; alter mobile;
    margin-left: 30%;
    margin-top: $nav-height-tab;
    @include side-padding;
    display: none;

    @include tablet {
      display: flex;
    }

    &--closed-sidebar {
      display: flex;
      margin-left: 0;
    }
  }

  &__sidebar-menu {
    height: $icon-size;
    width: $icon-size;
    // add appropriate margin left
    margin-top: calc($nav-height-tab + $spacing-unit-sm);
    &:hover {
      cursor: pointer;
    }
  }

  &--sidebar-open {
    display: none;

    @include tablet {
      display: flex;
    }
  }
}
