@use "./styles/typefaces" as *;
@use "./styles/variables" as *;
@use "./styles/mixins" as *;

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
input,
textarea,
button {
  font-family: "AvenirNext LT Pro", Arial, sans-serif;
  color: $primary-color-dark;
  font-weight: 400;
}
